<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Register - Plain | AirControl by themes.dev</title>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Accept-CH" content="DPR,Width,Viewport-Width" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"  />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body class="h-screen flex justify-center font-sans antialiased text-gray-700">
    <main class="screen-wrapper">
      <section class="">
        <%= image_tag "img-main.svg" %>
      </section>
      <section class="petitions px-5 py-10 bg-blue-600">
        <table class="w-full text-left border-collapse">
          <thead>
            <tr>
              <th class="sticky z-10 top-0 text-md font-semibol text-center bg-blue-100 rounded-tl-lg">
                <div class="p-2 border-b">
                  순서
                </div>
              </th>
              <th class="sticky z-10 top-0 text-md font-semibol text-center bg-blue-100">
                <div class="p-2 border-b">
                  이름
                </div>
              </th>
              <th class="sticky z-10 top-0 text-md font-semibol text-center bg-blue-100 rounded-tr-lg">
                <div class="p-2 border-b">
                  서명일
                </div>
              </th>
            </tr>
          </thead>
          <tbody class="align-baseline bg-slate-50 p-5">
            <% @petitions.each do |petition| %>
              <tr>
                <td translate="no" class="p-2 text-center font-mono font-medium leading-6 text-slate-700 text-sm">
                  <%= petition.id %>
                </td>
                <td translate="no" class="p-2 text-center font-mono font-medium leading-6 text-slate-700 text-sm">
                  <%= petition.name %>
                  <%#= NameMaskService.new(petition.name).masked_name %>
                </td>
                <td translate="no" class="p-2 text-center font-mono text-slate-700 text-sm">
                  <%= petition.created_at.strftime('%F') %>
                </td>
              </tr>
            <% end %>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="3" class="py-6 px-6 bg-slate-50 rounded-bl-lg rounded-br-lg">
                Pagination Placeholder
              </td>
            </tr>
          </tfoot>
        </table>
      </section>
      <section class="explanation py-10 px-5 flex flex-col items-center">
        <div class="w-full bg-blue-100 text-black py-4 flex items-center justify-center">
          <%= image_tag "ic-location" %>
          <span class="pl-1">지리적 위치</span>
        </div>
        <div class="py-3">
          <%= image_tag "ic-add-circle.svg" %>
        </div>
        <div class="w-full bg-blue-100 text-black py-4 flex items-center justify-center">
          <%= image_tag "ic-history" %>
          <span class="pl-1">역사적 자료</span>
        </div>
        <div class="py-3">
          <%= image_tag "ic-add-circle.svg" %>
        </div>
        <div class="w-full bg-blue-100 text-black py-4 flex items-center justify-center">
          <%= image_tag "ic-signature" %>
          <span class="pl-1">독도 서명</span>
        </div>
        <div class="py-1 text-4xl">
          =
        </div>
        <div class="w-full rounded-lg border-2 border-blue-600 p-5 flex flex-col items-center">
          <div class="text-3xl text-blue-600 pb-2">
            <b>독도 NFT</b>
          </div>
          <div class="bg-blue-100 py-2 px-3 text-md">
            <b>독도 NFT 2022년 8월 15일 발행</b>
          </div>
        </div>
      </section>
      <footer class="bg-gray-300 text-gray-600 text-center py-3">
        문의 dokdonft@gmail.com
      </footer>
    </main>
  </body>
</html>
